# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Build and cache
node_modules
dist
dist-ssr

# Environment config
.env
.env.local
*.local

# Editor config
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Flow-specific
emulator-account.pkey
flow.json
flow.accounts.json